body {
    background-color: rgb(255, 255, 165);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image{
    border: 5px solid rgb(153, 15, 95);
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 9px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    
}